body {

  background-color: #282c34;

}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.soundboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color:lightgoldenrodyellow;
 }

 .item {
  width: 20em;
  height: 20em;
  overflow: hidden;
 }

 .item img {
  width: 100%;
  height: auto;
  border-radius:190px
 }

.name {
  display: none;
}

.selected {
  display: inline;
  z-index: 1;
}

 @media screen and (min-width: 540px) {
  /** place here CSS rules that only apply to screens above 540px**/
}